<!-- <div class="row">
  <div class="card example-1">
    <div class="wrapper">
      <div class="date">
        <span class="day">12</span>
        <span class="month">Aug</span>
        <span class="year">2016</span>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">Jane Doe</span>
          <h1 class="title">
            <a href="#">Boxing icon has the will for a couple more fights</a>
          </h1>
          <p class="text">The highly anticipated world championship fight will take place at 10am.</p>
          <label for="show-menu" class="menu-button"><span></span></label>
        </div>
        <input type="checkbox" id="show-menu" />
        <ul class="menu-content">
          <li><a href="#" class="fa fa-bookmark-o"></a></li>
          <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
          <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card example-2">
    <div class="wrapper">
      <div class="header">
        <div class="date">
          <span class="day">12</span>
          <span class="month">Aug</span>
          <span class="year">2016</span>
        </div>
        <ul class="menu-content">
          <li><a href="#" class="fa fa-bookmark-o"></a></li>
          <li><a href="#" class="fa fa-heart-o"><span>18</span></a></li>
          <li><a href="#" class="fa fa-comment-o"><span>3</span></a></li>
        </ul>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">Jane Doe</span>
          <h1 class="title"><a href="#">Stranger Things: The sound of the Upside Down</a></h1>
          <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release.</p>
          <a href="#" class="button">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="home-container">
  <div class="quiz-card">
    <h2> Welcom Quiz Game</h2>
    <p></p>
    <div class="actions">
      <a routerLink="/quiz" class="btn start-btn"> </a>
      <div class="links">
        <a routerLink="/result"></a> | 
        <a routerLink="/history"></a>
      </div>
    </div>
  </div>
</div> -->

<!-- <h1 class="text-3xl font-bold underline">
  Hello world!
</h1> -->

<div class="min-h-screen bg-gray-800 py-6 flex flex-col justify-center sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
   
    <div
      class="absolute inset-0 bg-gradient-to-r from-indigo-700 to-purple-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
    </div>

   
    <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
      <div class="text-center pb-6">
        <h1 class="text-3xl font-bold text-[#07074D]">Démarrer un Quiz</h1>
        <p class="text-gray-500">Choisissez une catégorie et une difficulté pour commencer</p>
      </div>

      <form (ngSubmit)="startQuiz()">
        
        <div class="mb-4">
          <label for="category" class="block mb-2 font-medium text-[#07074D]">Catégorie</label>
          <select  [(ngModel)]="category" id="category" name="category"
            class="w-full p-3 border rounded-md border-gray-300 text-[#6B7280] focus:outline-none focus:border-[#6A64F1]">
            <option value="">-- Choisir une catégorie --</option>
            <option value="9">Culture Générale</option>
            <option value="18">Informatique</option>
            <option value="23">Histoire</option>
            <option value="21">Sport</option>
          </select>
        </div>

       
        <div class="mb-4">
          <label for="difficulty" class="block mb-2 font-medium text-[#07074D]">Difficulté</label>
          <select [(ngModel)]="difficulty"  id="difficulty" name="difficulty"
            class="w-full p-3 border rounded-md border-gray-300 text-[#6B7280] focus:outline-none focus:border-[#6A64F1]">
            <option value="">-- Choisir un niveau --</option>
            <option value="easy">Facile</option>
            <option value="medium">Moyen</option>
            <option value="hard">Difficile</option>
          </select>
        </div>

       
        <div class="mt-6">
          <button type="submit"
            class="w-full bg-indigo-600 text-white py-3 rounded-md hover:bg-indigo-700 transition">Démarrer le
            Quiz</button>
        </div>
      </form>
    </div>
  </div>
</div>



